@page "/detail/{id}"
@inject projet_rando_web.Interfaces.IRandonnee randonneeService

<main class="bg-dark text-light">
    <div class="container pt-3 pb-3">
        @if (randonnee != null)
        {
            <h2 class="mb-3 text-center border-top border-bottom border-2">Détails : @randonnee.Nom</h2>
            <MapView Longitude="randonnee.EndroitDepart.Longitude" Latitude="randonnee.EndroitDepart.Latitude" Zoom="8" Style="height: 400px; width: 100%; justify-content:center;" Class="border-4 border mb-3">
                <WebMap>
                    <PortalItem Id="e409ec0a5ef94d5cb486571894143b7c" />
                </WebMap>
                <ScaleBarWidget Position="OverlayPosition.BottomLeft" />
            </MapView>

            <p>Description : @randonnee.Description</p>
            <p>Date de création : @randonnee.CreatedAt</p>
            <p>Ville de départ : @randonnee.EndroitDepart.Nom</p>

            @if (randonnee.EndroitRetour != null)
            {
                <p> Ville de retour : @randonnee.EndroitRetour.Nom</p>
            }
            <p>Date de départ : @randonnee.DateDepart</p>

            <p>Autres détails : </p>
            <ul>
                <li>Méteo : @randonnee.Meteo</li>
                <li>Type : @randonnee.TypeRando</li>
                <li>Dénivelé : @randonnee.Denivele</li>
                <li>Statut : @randonnee.Statut</li>
                <li>Niveau : @randonnee.Niveau</li>
            </ul>
        }
        else
        {
            <p>Désolé, cette randonnée n'existe pas.</p>
        }
    </div>
</main>

