@page "/inscription"
@layout MainLayout
@using projet_rando_web.Classes
@using projet_rando_web.Enums
@inject Interfaces.IUtilisateur utilisateurService
@inject IJSRuntime jsRuntime
@inject NavigationManager navManager



<main>
    <div class="container pt-3"> 
        <div class="div-rend bg-dark container-fluid p-5 mb-5 mt-2">
            <h2 class="text-light text-center border-top border-bottom border-2">Inscription</h2>
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <EditForm Model="@user" OnValidSubmit="CreationUtilisateur">
                            <DataAnnotationsValidator />
                            <div class="mb-3">
                                <label for="prenom" class="text-light">Prénom</label>
                                <InputText id="prenom" placeholder="Votre Prénom" class="form-control" @bind-Value="user.Prenom" />
                                <ValidationMessage For="@(() => user.Prenom)" />
                            </div>
                            <div class="mb-3">
                                <label for="nom" class="text-light">Nom</label>
                                <InputText id="nom" placeholder="Votre Nom" class="form-control" @bind-Value="user.Nom" />
                                <ValidationMessage For="@(() => user.Nom)" />
                            </div>
                            <div class="mb-3">
                                <label for="courriel" class="text-light">Courriel</label>
                                <InputText id="courriel" placeholder="Votre Courriel" class="form-control" @bind-Value="user.Courriel" />
                                <ValidationMessage For="@(() => user.Courriel)" />
                            </div>
                            <div class="mb-3">
                                <label for="mdp" class="text-light">Mot de Passe</label>
                                <InputText id="mdp" placeholder="Créer votre mot de passe" class="form-control" @bind-Value="user.MotDePasse" />
                                <ValidationMessage For="@(() => user.MotDePasse)" />
                            </div>
                            <!-- TODO  : faire champs de validation mot de passe -->
                            <div class="mb-3">
                                <label for="pseudo" class="text-light">Pseudo</label>
                                <InputText id="pseudo" placeholder="Votre Pseudo" class="form-control" @bind-Value="user.Pseudo" />
                                <ValidationMessage For="@(() => user.Pseudo)" />
                            </div>
                            <div class="mb-3">
                                <label for="langue" class="text-light">Langue</label>
                                <InputSelect id="langue" class="form-select" @bind-Value="user.Langue">
                                    <option>Votre Langue maternelle</option>
                                    @foreach (Langue nomLangue in Enum.GetValues(typeof(Langue)))
                                    {
                                        <option value="@nomLangue">@nomLangue</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => user.Langue)" />
                            </div>
                            <div class="mb-5">
                                <label for="niveau" class="text-light">Expérience en randonnée</label>
                                <InputSelect id="niveau" class="form-select" @bind-Value="user.Echelon">
                                    @foreach (Echelon nomEchelon in Enum.GetValues(typeof(Echelon)))
                                    {
                                        <option value="@nomEchelon">@nomEchelon</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => user.Echelon)" />
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-light">Créer le Compte</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    body {
        background-image: url('ander-pena-REAMd8gKbPc-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        height: 100%;
        margin: 0;
    }

    .login-card {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }

    .main-title {
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
</style> 
