@page "/profil/{id}"
@inject projet_rando_web.Interfaces.IRandonnee randonneeService
@inject projet_rando_web.Interfaces.IUtilisateur utilisateurService
@inject AuthenticationStateProvider authStateProvider
@inject IJSRuntime jsRuntime
@inject NavigationManager navManager
@using Blazorise

<main class="text-light">
    <div class="container pt-3">
        <div class="div-rend bg-dark container-fluid p-5 mb-5 mt-2">
            <AuthorizeView>
                <Authorized>
                    <h2 class="border-top border-bottom border-2 text-center">Mon profil : @context.User.Identity.Name</h2>
                    <p>Mon niveau : @utilisateur.Echelon.ToString()</p>
                    <p>Ma langue : @utilisateur.Langue.ToString()</p>
                    
                    <div class="text-center">
                        <button @onclick="ModifierProfil" class="btn btn-light">Modifier le profil</button>
                    </div> 

                    <div class="mt-5 text-light  text-center">
                        <h3 class="border-2">Mes randonnées crées</h3>
                        <h4 class="border-top border-bottom mt-2">À venir</h4>
                        @if (_randonneesFuturesAuteur != null && _randonneesFuturesAuteur.Count() != 0)
                        {
                            <div class="row text-black">
                                @foreach (var randonnee in _randonneesFuturesAuteur)
                                {
                                    <div class="col-md-4 mb-4">
                                        <div class="card border-0 shadow-sm">
                                            <img src="@($"https://picsum.photos/id/{i}/1000/1000")" class="card-img-top" alt="Image de la randonnée">
                                            <div class="card-body">
                                                <h5 class="card-title">@randonnee.Nom</h5>
                                                <p>Ville de départ : @randonnee.EndroitDepart.Nom</p>
                                                @if (randonnee.EndroitRetour != null)
                                                {
                                                    <p>Ville de retour : @randonnee.EndroitRetour.Nom</p>
                                                }
                                                <a href="/detail/@randonnee.Id" class="btn btn-outline-dark">Détails</a>
                                            </div>
                                        </div>
                                    </div>
                                    i += 10;
                                }
                            </div>
                        }
                        else
                        {
                            <p>Aucune randonnée créé</p>
                        }

                        <h4 class="border-top border-bottom mt-2">Passées</h4>
                        @if (_randonneesPasseesAuteur != null && _randonneesPasseesAuteur.Count() != 0)
                        {
                            <div class="row text-black">
                                @foreach (var randonnee in _randonneesPasseesAuteur)
                                {
                                    <div class="col-md-4 mb-4">
                                        <div class="card border-0 shadow-sm">
                                            <img src="@($"https://picsum.photos/id/{i}/1000/1000")" class="card-img-top" alt="Image de la randonnée">
                                            <div class="card-body">
                                                <h5 class="card-title">@randonnee.Nom</h5>
                                                <p>Ville de départ : @randonnee.EndroitDepart.Nom</p>
                                                @if (randonnee.EndroitRetour != null)
                                                {
                                                    <p>Ville de retour : @randonnee.EndroitRetour.Nom</p>
                                                }
                                                <a href="/detail/@randonnee.Id" class="btn btn-outline-dark">Détails</a>
                                            </div>
                                        </div>
                                    </div>
                                    i += 10;
                                }
                            </div>
                        }
                        else
                        {
                            <p>Aucune randonnée passées</p>
                        }

                        <h4 class="border-top border-bottom mt-2">Archivées</h4>
                        @if (_randonneesArchiveesAuteur != null && _randonneesArchiveesAuteur.Count() != 0)
                        {
                            <div class="row text-black">
                                @foreach (var randonnee in _randonneesArchiveesAuteur)
                                {
                                    <div class="col-md-4 mb-4">
                                        <div class="card border-0 shadow-sm">
                                            <img src="@($"https://picsum.photos/id/{i}/1000/1000")" class="card-img-top" alt="Image de la randonnée">
                                            <div class="card-body">
                                                <h5 class="card-title">@randonnee.Nom</h5>
                                                <p>Ville de départ : @randonnee.EndroitDepart.Nom</p>
                                                @if (randonnee.EndroitRetour != null)
                                                {
                                                    <p>Ville de retour : @randonnee.EndroitRetour.Nom</p>
                                                }
                                                <a href="/detail/@randonnee.Id" class="btn btn-outline-dark">Détails</a>
                                            </div>
                                        </div>
                                    </div>
                                    i += 10;
                                }
                            </div>
                        }
                        else
                        {
                            <p>Aucune randonnée archivée.</p>
                        }
                    </div>

                    <div class="mt-5 text-light text-center">
                        <h3 class="border-top border-bottom border-2 mt-4">Mes randonnées participantes</h3>

                        <h4 class="border-top border-bottom mt-2">À venir</h4>
                        @if (_randonneesFuturesParticipant != null && _randonneesFuturesParticipant.Count() != 0)
                        {
                            <div class="row text-black">
                                @foreach (var randonnee in _randonneesFuturesParticipant)
                                {
                                    <div class="col-md-4 mb-4">
                                        <div class="card border-0 shadow-sm">
                                            <img src="@($"https://picsum.photos/id/{i}/1000/1000")" class="card-img-top" alt="Image de la randonnée">
                                            <div class="card-body">
                                                <h5 class="card-title">@randonnee.Nom</h5>
                                                <p>Ville de départ : @randonnee.EndroitDepart.Nom</p>
                                                @if (randonnee.EndroitRetour != null)
                                                {
                                                    <p>Ville de retour : @randonnee.EndroitRetour.Nom</p>
                                                }
                                                <a href="/detail/@randonnee.Id" class="btn btn-outline-dark">Détails</a>
                                            </div>
                                        </div>
                                    </div>
                                    i += 10;
                                }
                            </div>
                        }
                        else
                        {
                            <p>Aucune inscription à une randonnée.</p>
                        }
                        <h4 class="border-top border-bottom mt-2">Archivées</h4>
                        @if (_randonneesPasseesParticipant != null && _randonneesPasseesParticipant.Count() != 0)
                        {
                            <div class="row text-black">
                                @foreach (var randonnee in _randonneesPasseesParticipant)
                                {
                                    <div class="col-md-4 mb-4">
                                        <div class="card border-0 shadow-sm">
                                            <img src="@($"https://picsum.photos/id/{i}/1000/1000")" class="card-img-top" alt="Image de la randonnée">
                                            <div class="card-body">
                                                <h5 class="card-title">@randonnee.Nom</h5>
                                                <p>Ville de départ : @randonnee.EndroitDepart.Nom</p>
                                                @if (randonnee.EndroitRetour != null)
                                                {
                                                    <p>Ville de retour : @randonnee.EndroitRetour.Nom</p>
                                                }
                                                <a href="/detail/@randonnee.Id" class="btn btn-outline-dark">Détails</a>
                                            </div>
                                        </div>
                                    </div>
                                    i += 10;
                                }
                            </div>
                        }
                        else
                        {
                            <p>Aucune participation à une randonnée.</p>
                        }
                    </div>
                </Authorized>
                <NotAuthorized>
                    <h3>Inscrivez-vous ou connectez-vous pour avoir accès à cette page !</h3>
                </NotAuthorized>
            </AuthorizeView>

        </div>
    </div>
</main>
<style>
    body {
        background-image: url('perso.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        height: 100%;
        margin: 0;
    }

</style>
